@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

.mainBackground {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(rgba(20, 0, 60, 0.70), rgba(20, 0, 60, 0.70)), url('../../../assets/iBackground.jpg');
    background-color: rgba(20, 0, 60, 0.7);
    width: 100%;
    height: 873px;
}

.mainDiv {
    display: flex;
    align-items: center;
    margin-top: 134px;
    margin-bottom: 49px;
    gap: 50px;
    width: 100%;
    position: relative;
}

.myImg {
    width: 444.44px;
    height: 444.44px;
    filter: drop-shadow(0px 14.097570419311523px 35.61491394042969px rgba(255, 255, 255, 0.17));
    margin-left: 95px;
}

.myInfoContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 514.88px;
    height: 160px;
    padding: 45px;
    background-color: white;
    border: 2.76px solid #FEB300;
    border-radius: 14.07px;
    gap: 37px;
    box-shadow: 0px 14.074074745178223px 35.55555725097656px rgba(255, 255, 255, 0.21);
    margin-right: 206px;
    z-index: 2;
}

.myTittle {
    color: #6400FF;
    font-size: 63.96px;
    font-family: 'Source Sans Pro';
    font-weight: bolder;
    margin: 0;
    line-height: 0.75;
}

.myInfo {
    color: black;
    font-size: 14.35px;
    font-family: 'Source Sans Pro';
    font-weight: normal;
    margin: 0;
}

.vectorImg {
    height: 194.54px;
    position: absolute;
    top: -1%;
    right: 6%;
    z-index: 0;
}

.swapImg {
    width: 34.19px;
    height: 37.04px;
    margin-bottom: 48px
}