.border-skill-container {
    position: relative;
    background: linear-gradient(rgba(255, 255, 255, 0.25), black, rgba(255, 255, 255, 0.25));
    padding: 1px;
    border-radius: 10px;
}

.skill-container {
    position: relative;
    height: 100%;
    border: 2px solid black;
}

.icons-container img {
    width: 3.3vw;
    height: 3.3vw;
}

@media (max-width: 768px) {
    .icons-container img {
        width: 10vw;
        height: 10vw;
    }
}