@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #6400FF;
    border: 5px solid white;
    border-radius: 0px 0px 50px 50px;
    width: 100%;
    height: 150.37px;
}

.logo1Img {
    width: 54.45px;
    height: 45.93px;
    margin-top: 52px;
    margin-bottom: 52px;
    margin-left: 50px;
}

.buttonsContainer {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 59px;
    margin-bottom: 59px;
    margin-right: 50px;
}

button {
    font-family: 'Source Sans Pro';
    font-size: 24.39px;
    font-weight: 600;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
}