.nav-bar-bg {
    background-color: rgba(0, 0, 0, 0.03);
}

.nav-bar-bg button {
    background-color: #191919;
    color: rgba(255, 255, 255, 0.5);
    padding: 2.4% 3.25vw;
    border-radius: 100px;
    font-size: 0.75rem;
    font-weight: 300;
}

.nav-bar-bg button:hover {
    background-color: black;
    color: white;
    border: 1px solid white;
    font-weight: 400;
}

.nav-bar-bg button.active {
    background-color: black;
    color: #2ADE71;
    border: 0.15vw solid #2ADE71;
    font-weight: 600;
}

@media (max-width: 767px) {
    .nav-bar-bg button {
        font-size: 0.6rem;
    }

    .nav-bar-bg button:hover {
        border: 0.2vw solid white;
    }

    .nav-bar-bg button.active {
        border: 0.3vw solid #2ADE71;
    }
}
